/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Lato';
  font-weight: 400;
}

.logo-and-tabs {
  height: 96px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
  padding-top: 40px;

  figure {
    float: left;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 10px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    display: inline;
    border-left: solid 1px lightgray;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #signup-button {
    border: 0;
  }
}

.tabs {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  ul {
    margin: 0;
  }
  li {
    display: inline;
  }
}

.signup-body {
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0 auto;
  height: 753px;
  width: 800px;
  padding: 43px 50px 50px 50px;
}

.forms {
  display: inline-block;
  width: 400px;
  min-height: 427px;

  .welcome-text {
    height: 135;
    width: 398;
    font-size: 30px;
    padding-bottom: 50px;
  }

  fieldset {
    height: 96px;
    width: 398px;
  }
  label {
    display: block;
    input {
      margin-top: 16px;
    }
    .text-input {
      box-shadow: none;
      border-radius: 3px;
      border: 1px solid #d8d8d8;
      height: 34px;
      width: 320px;
      min-width: 160px;
      padding-left: 8px;
      padding-right: 6px;
    }

    #remember {
      height: 19px;
      width: 19px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      *overflow: hidden;
    }

    .remember-text {
      display: inline-block;
      padding-left: 19px;
      text-indent: -15px;
    }
  }
  #signup {
    text-transform: uppercase !important;
    border: none !important;
    border-radius: 2px;
    color: #fff;
    padding: 0 20px;
    font-weight: 400;
    background: #45cae6 !important;
    height: 34px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .terms {
    color: #7d7f80;
    a {
      text-decoration: none;
      color: #45cae6 !important;
    }
  }
}

aside {
  display: inline-block;
  position: absolute;
  border-left: solid 1px lightgray;
  margin-right: -25px;
  padding-left: 0;
  right: 50px;
  color: #666;

  .tips {
    background: #f5f5f5;
    margin-left: 25px;
    padding-bottom: 19px;
    padding-right: 17px;
    padding-top: 21px;
    padding-left: 40px;
    height: 540px;

    a {
      color: inherit;
    }
  }

  ul {
    list-style: disc;
    width: 140px;
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 12px;
  }
}

footer {
  padding: 40px 0 100px 0;
  .links {
    text-align: center;
    margin-bottom: 15px;
    a {
      font-size: 14px;
      text-decoration: none;
      color: #a5a5a5;
      padding: 0 1.5%;
      position: relative;
      border-right: 1px solid #a5a5a5;
    }
    a:last-child {
      border: 0;
    }
  }

  .security {
    text-align: center;
    margin: 25px 0;
    img {
      margin: 0 12px;
    }
  }

  .copyright {
    text-align: center;
    color: #a5a5a5;
    font-size: 11px;
  }
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
